<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <h1>Pet Shop</h1>
    <p><a href="/add">Add Pet</a></p>
    <div class="item">
        {{#each data}}
        <div>
            <li class="image"><img src="{{image}}" width="220" height="200"/></li>
            <li>Name: {{name}}</li>
            <li>Age: {{age}}</li>
            <li>Price: {{price}}</li>
            <li><a href="/delete?id={{_id}}">Delete</a><a href="/edit?id={{_id}}">Edit</a></li>           
        </div>
        {{/each}}  
    </div>
    <div class="footer">
        Copyright by PetShop - 2021
    </div>
</body>
</html>